
# Terraform state file
*.tfstate
*tfstate.backup

# Crash Log
crash.Log

# Terraform Plan files
*.tfplan

# Local directories and files
.terraform/
*.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock files
.terraform.lock.hcl

# Editor and Os-specific files
.Ds_Store
.idea/
.vscode